<div class="container-game">
  <img class="banner" src="{{game?.banner }}" alt="game{{game?.id}}">
  <img class="background" src="{{game?.background}}" alt="background">
</div>

<div>
  <div  class="">
    <div class="flex-game" >
      <h1 class="text-welcome">Welcome to</h1>
      <img class="logo" src="{{game?.logo}}" alt="logo {{game?.id}}">
    </div>
    <div class="players-card">
      <div style="display: flex; flex-direction: column">
        <mat-card>
          <mat-card-title  style="display: flex; justify-content: center;">Meet Some of Our Hosts</mat-card-title>
        </mat-card>
        <app-user-card></app-user-card>
      </div>
    </div>
    <div class="tournament-flex">
      <app-tournament-card-in-game></app-tournament-card-in-game>
      <app-tournament-card-one class="tournament-card"></app-tournament-card-one>
    </div>
  </div>
</div>



