@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.flex-game {
  position: fixed;
  margin: 2rem;
}
.background {
  width: 100%;
  overflow:auto;
  height: auto;
}
.banner {
  object-fit: cover;
  width: 100%;
  height: 30vh;
}
.container-game {
  z-index: -1;
  width: 100%;
  position: absolute;
  margin-top: -2rem;
  top: 0;
  left: 0;
  //color: white;
}
.text-welcome {
  color: white;
  font-size: 4rem;
  font-family: "Bebas Neue",sans-serif;
}
.position {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 8vh;
  margin-top: 0.5rem;
}
.tournament-flex {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin: 17rem 0 0 7rem;
}
.tournament-card {
  margin: 0 0 0 3rem;

}
.players-card {
  font-family: "Montserrat", cursive;
  font-size: 2rem;
  color: #ffffff;
  position: absolute;
  margin: 2rem 0 0 25vw;
}
mat-card {
  background-color: #232425;
  color: white;
}
