.flex {
  display: flex;
  justify-content: center;
}
.space-btw {
  display: flex;
  justify-content: space-between;
}
.registerBtn {
  background: #9ad93a;
  color: #151618;
}
mat-card {
  background-color: #232425;
  color: white;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-img {
  object-fit: cover;
  width: 20vw;
  height: 10rem;
}
