@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.text-config {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.background {
  background-image: url("dota.png");
  height: 93.5vh;
}
.gradient {
  background-image: linear-gradient(rgba(119, 119, 119, 0.5), #0a0a0a);
  height: 93.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  //color: white;
  font-family: 'Poppins', sans-serif;
}
.table-wrapper {
  font-family: 'Poppins', sans-serif;
  width:97%;
  box-shadow: 21px 41px 35px -1px rgba(0,0,0,0.59);
  -webkit-box-shadow: 21px 41px 35px -1px rgba(0,0,0,0.59);
  -moz-box-shadow: 21px 41px 35px -1px rgba(0,0,0,0.59);
}

table {
  width: 100%;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;

}

.mat-header-cell {
  color: white;
  font-family: 'Poppins', sans-serif;
}
.mat-cell {
  color: white;
}

 mat-form-field{
  background-color: white ;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  //background-color: transparent;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255, 0.87) !important;
}

tr.editable-row {
  background-color: lightskyblue;
}
