$dark-blue: #212833;
@font-face {
  font-family: "high-life";
  src: url("../fonts/HighLife.ttf");
}
* {
  margin:0;
}

#app {
  height: 100%;
  background-color: $dark-blue;
  color: white;
  font-family: 'Poppins', sans-serif;

}
//
//.views-container {
//  width: 100%;
//  padding-top: 50px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
