<div class="background-image">

  <h1 class="font-b"> SIGN IN TO CONTINUE</h1>
  <div class="container" >
  <div class="card text-center">
<!--    <div class="card-header">-->
<!--      <b>LOGIN</b>-->
<!--    </div>-->
    <div class="card-body">
      <label style="float: left">Email</label>
      <input class="form-control m-2" type="email" placeholder="Type your email or username" required [(ngModel)]="user.email">
      <label style="float: left">Password</label>
      <input class="form-control m-2" type="password" placeholder="Type your password" required [(ngModel)]="user.password">
      <button class="btn btn-primary w-100 m-2" (click)="loginWithEmail()" >Login</button>
      <button class="btn btn-danger w-100 m-2" (click)="loginWithGoogle()" > <mat-icon class="icon"><img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" alt="google" >  </mat-icon> Login with Google</button>
<!--      </form>-->
      <label>Don’t have an account? <a routerLink="/sign-up">Sign up</a></label>
    </div>
  </div>
</div>
</div>
