.profile{
  width: 100%;
  color: #fff;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/outlanders/patch-notes/bg_repeater.jpg);
  background-color: #15171b;
  position: relative;
}
