//.mat-card {
//  max-width: 60rem;
//}
//
//.card-container {
//  height: 2rem;
//}

.flex {
  //position: fixed;
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 93.5vh;
}
mat-card {
  background-color: #232425;
  color: white;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 5rem;
}
