<div class="">
  <div style="margin: 1rem 0 1rem 0">
    <mat-card>
      <mat-card-title style="display: flex; justify-content: center;">Upcoming 5v5 tournaments</mat-card-title>
<!--      <mat-card-content>-->
<!--        <span> Available now: </span>-->
<!--        <span>-->
<!--          <strong>{{ tournaments.length }}</strong></span-->
<!--        >-->
<!--      </mat-card-content>-->
    </mat-card>
  </div>
  <div style="" class="">
    <div class="" *ngFor="let tournament of tournaments">
      <div *ngIf="tournament.game === this.gameId && tournament.gameType === '5 vs 5'">
        <mat-card style="margin-bottom: 1rem">
          <mat-card-header
          ><img
            class="card-img"
            style="margin-bottom: 1rem"
            alt="tournament image"
            src="{{ tournament.urlToImage }}"
          /></mat-card-header>
          <mat-card-title class="space-btw">
            <p>{{ tournament.name }}</p>
            <p>Type: {{ tournament.gameType }}</p>
          </mat-card-title>
          <mat-card-content>
            <div class="space-btw">
              <p>Max Teams : {{ tournament.maxTeams }}</p>
              <p>Date: {{ tournament.date }}</p>
            </div>
            <div style="display: flex;justify-content: end">
              <button mat-button class="registerBtn">
                Register
              </button>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>
